
/************************* 
  Layout
*/

div.container
  max-width: 60em
  margin-left: auto
  margin-right: auto


footer.footer
  margin-left: auto
  margin-right: auto

  div
    margin-left: auto
    margin-right: auto


div.center
  margin-left: auto
  margin-right: auto
  
p.center
  text-align: center


/************************* 
  Images
*/

figure
  margin-left: auto
  margin-right: auto
  margin-bottom: 1em
  display: table
  text-align: center


figcaption
  font-style: italic 
  display: table-caption 
  caption-side: bottom

img
  border: thin silver solid
  padding: 0.5em
