
header

    h1 Menu

    h2 Pages using Layout

    ul
        li: a(href="/") Home
        li: a(href="/markdown") Markdown
        li: a(href="/pug-image") Pug Image
        li: a(href="/pug-js") Pug JavaScript
        li: a(href="/ramda") Ramda
        li: a(href="/about") About

    h2 Standalone pages

    ul
        li: a(href="/standalone") Standalone Page
        li: a(href="/standalone-layout") Standalone Page with Headers and Footers

